{% extends 'base.html' %}

{% block title %}
    Замовлення підтверджено - GREEN GOAT
{% endblock %}

{% block main %}Замовлення підтверджено{% endblock %}

{% load static %}
{% block image%}
    <div class="image-container">
        <img src="{% static 'store/img/bg5.jpg' %}" alt="bgbg5">
    </div>
{% endblock %}

{% block content %}
    <div class="center-container">
        <p>Номер замовлення: {{ order.id }}</p>
        <p>Адреса доставки: {{ order.delivery_address }}</p>
        <p>Бажаний час і дата доставки: {{ order.preferred_delivery_time }}</p>
        <p>Номер телефону: {{ order.phone_number }}</p>
        <p>ПІБ: {{ order.full_name }}</p>

        <h2>Товари в замовленні:</h2>
        <ul>
            {% for order_item in order.orderitem_set.all %}
                <li>{{ order_item.product.name }} - {{ order_item.quantity }} ({{ order_item.price }} грн.)</li>
            {% endfor %}
        </ul>
        
        <p>Загальна вартість: {{ order.total_price|floatformat:2 }} грн.</p>

        <a href="{% url 'products_list' %}"><button>На главную</button></a>
    <div>
{% endblock %}
